@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap');

/* * {
  border: solid 2px black;
} */

* {
  font-family:'Noto Sans TC', sans-serif !important;
  font-weight: normal;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  color: #3E3E3E;
}

@viewport {
    width: device-width;
    initial-scale: 1;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

.header {
  background-color: #F2D1DA;
}

.container {
  width: 1600px;
  position: relative;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  z-index: 3;
  background-color: #F2D1DA;
  width: 100%;
  max-width: 1600px;
}

.logo {
  padding-left: 2.77%;
  padding-top: 15px;
}

.logo img {
  width: 111px;
  height: 65px;
}

nav {
  white-space: nowrap;
  padding-right: 4.24%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 45px;
}

nav ul li a {
  color: #880744;
  font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  cursor: pointer;
}

nav ul li a:hover {
  color: #fff;
}

/* hover */

nav ul ul {
  position: absolute;
  margin-top: 8px;
  left: 20px;
  padding: 8px 15px;
  background: #FFF8F8;
  border: 1px solid #939393;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.2s;
}

nav ul ul li {
  position: relative;
  margin: 0;
  padding: 5px;
  display: list-item;
}

nav ul ul li a{
  color: #3e3e3e;
}

.navbar ul li:hover > ul {
  visibility: visible;
}

nav ul ul li a:hover {
  color: #C03178;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .menu {
    display: block;
    height: 118px;
  }

  .logo {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 62px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.95);
    padding: 0;
    z-index: 3;
    margin-top: -5px;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    overflow: auto;
  }

  .navbar.open {
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .navbar li:nth-child(1) {
    transition: all 0.5s ease 0.05s;
  }

  .navbar li:nth-child(2) {
    transition: all 0.5s ease 0.1s;
  }

  .navbar li:nth-child(3) {
    transition: all 0.5s ease 0.15s;
  }

  .navbar li:nth-child(4) {
    transition: all 0.5s ease 0.2s;
  }

  .navbar li:nth-child(5) {
    transition: all 0.5s ease 0.25s;
  }

  .navbar li:nth-child(6) {
    transition: all 0.5s ease 0.3s;
  }

  .navbar li:nth-child(7) {
    transition: all 0.5s ease 0.35s;
  }

  .navbar li:nth-child(8) {
    transition: all 0.5s ease 0.4s;
  }

  .navbar li {
    opacity: 0;
  }

  .navbar li.fade {
    opacity: 1;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nav > ul > li:not(:first-child) {
    margin-top: 2.34vh;
  }

  nav > ul > li:first-child {
    margin-top: 5.8vh;
  }

  nav > ul > li:last-child {
    margin-bottom: 50px;
  }

  nav ul ul li {
    padding: 0;
  }

  nav ul li a {
    color: #3E3E3E;
    font-size: calc(32px + 4 * ((100vh - 800px) / 500));
  }

  nav ul li a:hover {
    color: #3E3E3E;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 12px 0px 12px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .blackTri.rotate {
    transform: rotate(-180deg);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 45px;
  }

  .hamburger div:nth-child(1) {
    transition: all 1s ease 0.05s;
  }

  .hamburger div:nth-child(2) {
    transition: all 1s ease 0.1s;
  }

  .hamburger div:nth-child(3) {
    transition: all 1s ease 0.15s;
  }

  .line.purpleToggle {
    background-color: #C03178;
  }

  .line {
    width: 8.2vw;
    height: 1.2vw;
    background-color: #fff;
    border-radius: 50px;
  }

  .line:not(:first-child) {
    margin-top: 0.8vh;
  }

  /* toggle */
  nav ul ul {
    position: static;
    margin: 0;
    padding: 22px 0;
    width: 227px;
    background: #F2D1DA;
    border: none;
    border-radius: 30px;
    visibility: visible;
    display: none;
    letter-spacing: 0.08em;
  }

  nav ul ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: list-item;
  }

  nav ul ul li:not(:first-child) {
    padding-top: 5px;
  }

  nav ul ul li a{
    color: #3E3E3E;
    font-size: 24px;
    border-bottom: 2px solid;
  }
}

@media screen and (max-width: 768px) {
  nav > ul > li:not(:first-child) {
    margin-top: 2.69vh;
  }

  nav > ul > li:first-child {
    margin-top: 8.53vh;
  }

  nav ul li a {
    font-size: 24px;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 17px 10px 0px 10px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 12px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .hamburger {
    padding-right: 12vw;
  }

  .line:not(:first-child) {
    margin-top: 1vh;
  }

  nav ul ul {
    padding: 20px 0;
    width: 168px;
    border-radius: 30px;
  }

  nav ul ul li a{
    font-size: 18px;
  }
}


/* section1 */

.section1 {
  display: flex;
  padding-top: 106px;
}

.section1Left {
  width: 274px;
  padding-left: 35px;

}

.checkDiv {
  display: flex;
  flex-wrap: wrap;
}

.width35 {
  width: 35%;
  margin-bottom: 1.1vh;
  white-space: nowrap;
}

.width60 {
  width: 60%;
  margin-bottom: 1.1vh;
}

input[type="checkbox"]{
  vertical-align: middle;
  margin-right: 7px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  position: relative;
}

input[type="checkbox"]:after {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  content: " ";
  background-color: #fff;
  color: #fff;
  display: inline-block;
  visibility: visible;
}

input[type="checkbox"]:checked:after {
  content: "✓";
  font-size: 12px;
  background-color: #C03178;
  transition: 0.3s;
  text-align: center;
  line-height: 18px;
}

.checkBox p {
  font-size: 18px;
  margin-bottom: 0.8vh;
  margin-top: 2.5vh;
}

.firstCB p {
  margin-top: 3.6vh;
}

.checkBox label {
  font-size: 14px;
}

.purpleInput {
  border: solid #C03178;
  font-size: 10px;
  text-align: center;
  width: 9.5vw;
  height: 3.1vh;
  min-height: 24px;
  max-width: 117px;
  background-color: #C03178;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 20px;
  margin: 1.8vh 0 7.9vh 0;
  cursor: pointer;
  color: #fff;
}

/* section1Right */

.section1Right {
  width: calc(100% - 309px );
  background-color: #fff;
}

.category {
  margin: 0;
  letter-spacing: 0.05em;
  padding: 3vh 0 1.3vh 45px;
  font-size: 14px;
}

.category a {
  color: #3E3E3E;
}

.block {
  display: flex;
}

.block:not(:last-child) {
  margin-bottom: 4.4vh;
}

.block:last-child {
  margin-bottom: 8.8vh;
}

.blockIpad {
  display: none;
}

.picBlock {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
}

.rabPic {
  flex: 1;
  text-align: center;
}

.rabPic p {
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.075em;
  line-height: 30px;
}

.rabPic:not(:last-child) {
  margin-right: 5%;
}

.rabPic img {
  width: 100%;
}

.findRab {
  display: none;
}

.findRabSectionIpad {
  display: none;
}

.learnMore {
  display: none;
}

.findRabBtn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .section1 {
    padding-top: 118px;
  }

  .section1Left {
    display: none;
  }

  .section1Right {
    width: 100vw;
    position: relative;
  }

  .category {
    padding: 0;
    margin: 2.4vh 0 6.64vh 5.2%;
  }

  .rabPic {
    margin: 0;
  }

  .rabPic p {
    font-size: 18px;
    line-height: 32px;
    padding-top: 2.05vh;
  }

  .rabPic img {
    border-radius: 3.9vw;
  }

  .block {
    display: none;
  }

  .blockIpad {
    display: flex;
  }

  .findRabBtn {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 20.2vw;
    height: 7.7vw;
    max-width: 242px;
    max-height: 92px;
    border-radius: 2.6vw;
    font-size: 18px;
    background-color: #C03178;
    cursor: pointer;
    color: #fff;
    margin-bottom: 4.5vh;
    border: none;
  }

  .learnMore {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 15.4vw;
    height: 5.28vw;
    max-width: 154px;
    max-height: 52.8px;
    border-radius: 2.6vw;
    font-size: 18px;
    background-color: #C03178;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.075em;
    margin-top: 2.63vh;
    margin-bottom: 4.6875vh;
    border: none;
  }

/* slide */
  .findRabSectionIpad {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 118px);
    width: 100vw;
    padding: 0;
    z-index: 1;
    transition: all 0.2s ease-out;
    display: flex;
    margin-left: -100vw;
  }

  .findRabSectionIpad p {
    margin: 0;
    font-size: 36px;
    margin-top: 4.4vh;
    margin-bottom: 6.82vh;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .findRabLeft {
    width: 76.2%;
    position: relative;
    background-color: #F2D1DA;
    transition: 0.5s;
    overflow-x: scroll;
  }

  .choseSection {
    height: calc(100vh - 270px);
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
  }

  .choseList {
    border-bottom: 1px solid #C4C4C4;
    width: 100%;
    text-align: center;
    padding-bottom: 2.15vh;
    margin-bottom: 1.4vh;
    position: relative;
    cursor: pointer;
  }

  .arrow_plus {
    position: absolute;
    right: 7.16%;
    top: -0.2vh;
    pointer-events: none;
  }

  .lessIcon {
    position: absolute;
    left: 0;
    padding-left: 6.5vw;
    cursor: pointer;
  }

  .choseInside {
    position: absolute;
    top: 0;
    left: -76.2vw;
    transition: 0.5s;
  }

  .choseList p {
    margin: 0;
    font-size: 24px;
  }

  .choosenSection {
    display: flex;
    flex-wrap: wrap;
  }

  .choosenItem {
    height: 3.125vw;
    border-radius: 2.6vw;
    background-color: #C03178;
    font-size: 14px;
    color: #fff;
    padding-left: 35px;
    padding-right: 29px;
    line-height: 3.125vw;
    margin-top: 20px;
    margin-right: 2.7vw;
    cursor: pointer;
    position: relative;
  }

  .choosenItem img {
    width: 10px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .cleanSection {
    padding-left: 3.9vw;
  }

  .cleanAll p {
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    border-bottom: 1px solid #000;
    letter-spacing: 0.075em;
    opacity: 0;
    cursor: pointer;
  }

  .findRabRight {
    background-color: rgba(62, 62, 62, 0.5);
    width: 23.8%;
    position: relative;
  }

  .findRabRight img {
    position: absolute;
    padding: 2vh;
    top: 4.4vh;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .category {
    margin: 3.14vh 0 3.59vh 0;
    padding: 0;
    text-align: center;
    font-size: calc(14px + 3 * ((100vw - 375px) / 300));
  }

  .findRabBtn {
    width: 41.3vw;
    height: 15.73vw;
    max-width: 317px;
    max-height: 120px;
    border-radius: 5.3vw;
    font-size: calc(18px + 4 * ((100vw - 375px) / 200));
    margin-bottom: 6vh;
  }

  .blockIpad {
    display: block;
  }

  .rabPic:not(:last-child) {
    margin-right: 0;
  }

  .rabPic p {
    font-size: calc(18px + 5 * ((100vw - 375px) / 250));
    line-height: calc(4vh + 15px);
    padding-top: 3vh;
  }

  .rabPic img {
    border-radius: 3.9vw;
  }

  .learnMore {
    width: 29.6vw;
    height: 10.13vw;
    max-width: 227px;
    max-height: 77.8px;
    border-radius: 5.3vw;
    font-size: calc(18px + 5 * ((100vw - 375px) / 250));
    margin-top: 2.7vh;
    margin-bottom: 6vh;
  }

/* slide */
  .findRabSectionIpad p {
    font-size: 18px;
    margin-top: 4.5vh;
    margin-bottom: 4.4vh;
  }

  .choseSection {
    font-size: 18px;
    height: calc(100vh - 220px);
  }

  .choseList {
    padding-bottom: 1.4vh;
    margin-bottom: 1.4vh;
  }

  .choseList p {
    margin: 0;
    font-size: 18px;
  }

  .cleanAll p {
    font-size: 10px;
    margin-top: 22px;
  }


  .findRabRight img {
    position: absolute;
    padding: 2vh;
    top: 3.74vh;
    width: 13px;
    height: 25px;
  }
}

/* footer */

.footer {
  display: flex;
  background-color: #F2D1DA;
  position: relative;
  height: 289px;
}

.leftFooter {
  padding-left: 3.8%;
  padding-top: 41px;
  flex: 5.5;
  margin-bottom: 20px;
}

.leftFooter input {
  display: none;
}

.leftFooter p {
  margin: 0;
  color: #3E3E3E;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-size: calc(15px + 3 * ((100vw - 1200px) / 500));
}

.leftFooter img {
  padding-top: 20px;
  padding-right: 15px;
}

.rightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 4.5;
  padding-right: 4.6%;
}

.rightFooter p {
  display: none;
}

.rightFooter img{
  max-width: 152px;
}

.rightFooter button, .rightFooter input {
  border: solid #fff;
  font-size: calc(12px + 4 * ((100vw - 1200px) / 500));
  max-width: 126px;
  max-height: 48px;
  width: 8.7vw;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 15px;
  cursor: pointer;
  margin: 26px 5.5px 0 5.5px;
}

@media screen and (max-width: 1200px) {
  .footer {
    height: auto;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding: 2.44vh 0;
  }

  .footerBg, .leftFooter p, .rightFooter img, .whiteBtn {
    display: none;
  }

  .leftFooter {
    margin: 0;
    margin-left: 13.3vw;
    flex: none;
    padding: 0;
  }

  .leftFooter input {
    display: block;
    width: 22.65vw;
    height: 8.6vw;
    max-width: 272px;
    max-height: 103px;
    border-radius: 2.6vw;
    font-size: calc(24px + 5 * ((100vw - 768px) / 300));
    box-shadow: none;
    background-color: #C03178;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.2em;
    margin-bottom: 3.9vh;
    border: none;
  }

  .contactIcon {
    display: flex;
    justify-content: space-around;
  }

  .leftFooter img {
    padding: 0;
    width: 8.3vw;
  }

  .rightFooter {
    flex: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 15.36vw;
  }

  .rightFooter p {
    display: block;
    color: #3E3E3E;
    font-size: calc(24px + 4 * ((100vw - 768px) / 500));
    margin: 0;
  }

  .rightFooter p:not(:first-child) {
    margin-top: 2.3vh;
  }

  .rightFooter a {
    color: #3E3E3E;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 7.48vh;
    padding: 3vh 0;
  }

  .leftFooter {
    align-items: center;
    margin-top: 2vh;
  }

  .leftFooter input {
    width: 34.9vw;
    height: 10.93vw;
    max-width: 288.7px;
    max-height: 84px;
    border-radius: 8vw;
    font-size: calc( 20px + 5 * ((100vw - 375px) / 200));
    margin-bottom: 3.5vh;
  }

  .rightFooter p {
    font-size: calc( 14px + 5 * ((100vw - 375px) / 200));
  }

  .rightFooter p:not(:first-child) {
    margin-top: 2vh;
  }
}


/* font-size */

@media screen and (min-width: 2000px) {
  .category p {
    font-size: 18px;
  }

  .footer p {
    font-size: 20px;
  }

  .footer button, .footer input {
    font-size: 18px;
  }
}
