@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap');

/* * {
  border: solid 2px black;
} */

* {
  font-family:'Noto Sans TC', sans-serif !important;
  font-weight: normal;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.header {
  background-color: #F2D1DA;
}

.container {
  width: 1600px;
  position: relative;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  z-index: 3;
  background-color: #F2D1DA;
  width: 100%;
  max-width: 1600px;
}

.logo {
  padding-left: 2.77%;
  padding-top: 15px;
}

.logo img {
  width: 111px;
  height: 65px;
}

nav {
  white-space: nowrap;
  padding-right: 4.24%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 45px;
}

nav ul li a {
  color: #880744;
  font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  cursor: pointer;
}

nav ul li a:hover {
  color: #fff;
}

/* hover */

nav ul ul {
  position: absolute;
  margin-top: 8px;
  left: 20px;
  padding: 8px 15px;
  background: #FFF8F8;
  border: 1px solid #939393;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.2s;
}

nav ul ul li {
  position: relative;
  margin: 0;
  padding: 5px;
  display: list-item;
}

nav ul ul li a{
  color: #3e3e3e;
}

.navbar ul li:hover > ul {
  visibility: visible;
}

nav ul ul li a:hover {
  color: #C03178;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .menu {
    display: block;
    height: 118px;
  }

  .logo {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 62px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    z-index: 3;
    margin-top: -5px;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    overflow: auto;
  }

  .navbar.open {
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .navbar li:nth-child(1) {
    transition: all 0.5s ease 0.05s;
  }

  .navbar li:nth-child(2) {
    transition: all 0.5s ease 0.1s;
  }

  .navbar li:nth-child(3) {
    transition: all 0.5s ease 0.15s;
  }

  .navbar li:nth-child(4) {
    transition: all 0.5s ease 0.2s;
  }

  .navbar li:nth-child(5) {
    transition: all 0.5s ease 0.25s;
  }

  .navbar li:nth-child(6) {
    transition: all 0.5s ease 0.3s;
  }

  .navbar li:nth-child(7) {
    transition: all 0.5s ease 0.35s;
  }

  .navbar li:nth-child(8) {
    transition: all 0.5s ease 0.4s;
  }

  .navbar li {
    opacity: 0;
  }

  .navbar li.fade {
    opacity: 1;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nav > ul > li:not(:first-child) {
    margin-top: 2.34vh;
  }

  nav > ul > li:first-child {
    margin-top: 5.8vh;
  }

  nav > ul > li:last-child {
    margin-bottom: 50px;
  }

  nav ul ul li {
    padding: 0;
  }

  nav ul li a {
    color: #3E3E3E;
    font-size: calc(32px + 4 * ((100vh - 800px) / 500));
  }

  nav ul li a:hover {
    color: #3E3E3E;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 12px 0px 12px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .blackTri.rotate {
    transform: rotate(-180deg);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 45px;
  }

  .hamburger div:nth-child(1) {
    transition: all 1s ease 0.05s;
  }

  .hamburger div:nth-child(2) {
    transition: all 1s ease 0.1s;
  }

  .hamburger div:nth-child(3) {
    transition: all 1s ease 0.15s;
  }

  .line.purpleToggle {
    background-color: #C03178;
  }

  .line {
    width: 8.2vw;
    height: 1.2vw;
    background-color: #fff;
    border-radius: 50px;
  }

  .line:not(:first-child) {
    margin-top: 0.8vh;
  }

  /* toggle */
  nav ul ul {
    position: static;
    margin: 0;
    padding: 22px 0;
    width: 227px;
    background: #F2D1DA;
    border: none;
    border-radius: 30px;
    visibility: visible;
    display: none;
    letter-spacing: 0.08em;
  }

  nav ul ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: list-item;
  }

  nav ul ul li:not(:first-child) {
    padding-top: 5px;
  }

  nav ul ul li a{
    color: #3E3E3E;
    font-size: 24px;
    border-bottom: 2px solid;
  }
}


.category {
  margin: 2.9vh 0 3vh 3.1%;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding-top: 106px;
}

@media screen and (max-width:1200px) {
  .category {
    padding-top: 118px;
  }

}

.category a {
  color: #3E3E3E;
}

.rabInfo {
  display: flex;
}

.rabImg {
  padding-left: 3.1%;
  flex:52.8;
}

.rabInfo img {
  width: 100%;
  max-width: 795px;
}

.adoptInfo {
  flex: 47.2;
  padding-left: 5.48%;
}

.adoptInfo h2 {
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
  margin: 4.7% 0 5.1% 17px;
  font-weight: 400;
  letter-spacing: 0.08em;
}

.infoUl ul {
  padding: 0;
  margin: 0;
}

.infoUl ul li {
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  display: inline-block;
  letter-spacing: 0.08em;
}

.infoUl ul li:not(:last-child) {
  margin-bottom: 4.19%;
}

.width45 {
  width: 45%;
}

.infoUl li::before {
  content: '\25cf';
  color: #C03178;
  font-size: 11px;
  margin-right: 6px;
  vertical-align: middle;
}

.character {
  width: 90.6%;
  margin-top: 15px;
  margin-left: 6px;
  background-color: #F2D1DA;
}

.character p {
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  padding: 30px;
  letter-spacing: 0.08em;
  line-height: 170.19%;
  margin: auto;
}

.infoUl {
  position: relative;
  height: 82.5%;
}

.purpleInput {
  border: solid #C03178;
  width: 16.45vw;
  height: 6.2vw;
  max-width: 263px;
  max-height: 100px;
  background-color: #C03178;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 1.5vw;
  cursor: pointer;
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
  letter-spacing: 0.08em;
  margin: 0;
  color: #fff;
}

.poaInput {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-58%);
}

/* section2 */

.section2 {
  margin: 15vh 3.1% 0 3.1%;
}

.happen {
  background-color: #F2D1DA;
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  padding: 30px 40px;
  line-height: 43px;
  letter-spacing: 0.08em;
  margin-bottom: 1.6vh;
}

.section2 p {
  margin: 0;
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
}

.section2 ul {
  margin: 0;
}

.section2 ul li {
  font-size: 18px;
}

.healthRecord p {
  padding-bottom: 4px;
  padding-top: 2vh;
}

.healthTitle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  cursor: pointer;
}

.healthRecord ul {
  margin-left: 1.17%;
  padding: 0;
}

.healthRecord ul li:first-child {
  margin-top: 20px;
}

.healthRecord ul li {
  letter-spacing: 0.08em;
  line-height: 27px;
}

.healthRecord li::before {
  content: '\25cf';
  color: #000;
  font-size: 11px;
  margin-right: 20px;
  vertical-align: middle;
}

.hiddenList {
  display: none;
}

.healthScroll::-webkit-scrollbar {
  width: 22px;
}

.healthScroll::-webkit-scrollbar-thumb {
  background-color: #C03178;
  border-radius: 20px;
}

.healthScroll {
  height: 310px;
  overflow: auto;
}

.model {
  margin-top: 5vh;
}

.modelBlock {
  display: flex;
  justify-content: center;
}

.arrow {
  position: relative;
  margin-top: 1.1vh;
  width: 92vw;
  max-width: 1456px;
  /* border: 1px solid; */
}

.arrow1, .arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow1 {
  left: -30px;
}

.arrow2 {
  right: -30px;
}

.modelpic {
  display: flex;
  justify-content: center;
  width: 152%;
  transition: 0.5s;
  overflow: hidden;
}

.imgBlock {
  width: 45%;
  background-color: #F2D1DA;
  text-align: center;
  border-radius: 30px;
}

.imgBlock:not(:first-child) {
  margin-left: 3.1%;
}

.modelpic p {
  padding-bottom: 4.88vh;
}

.modelpic img {
  width: 94.6%;
  padding: 10.4vh 0 4.68vh 0;
}

.modelInput {
  display: flex;
  justify-content: center;
  margin: 7.4vh 0;
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
  font-weight: 300;
  letter-spacing: 0.08em;
}

/* footer */

.footer {
  display: flex;
  background-color: #F2D1DA;
  margin-top: 4.57vh;
  position: relative;
  height: 289px;
}

@media screen and (min-width: 1600px) {
  .footerBg {
    margin-left: calc(1600px - 100vw);
    width: calc(100vw + (100vw - 1600px));
    height: 289px;
    background-color: #F2D1DA;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.leftFooter {
  padding-left: 3.8%;
  padding-top: 41px;
  flex: 5.5;
  margin-bottom: 20px;
}

.leftFooter input {
  display: none;
}

.leftFooter p {
  margin: 0;
  color: #3E3E3E;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-size: calc(15px + 3 * ((100vw - 1200px) / 500));
}

.leftFooter img {
  padding-top: 20px;
  padding-right: 15px;
}

.rightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 4.5;
  padding-right: 4.6%;
}

.rightFooter p {
  display: none;
}

.rightFooter img{
  max-width: 152px;
}

.rightFooter button, .rightFooter input {
  border: solid #fff;
  font-size: calc(12px + 4 * ((100vw - 1200px) / 500));
  max-width: 126px;
  max-height: 48px;
  width: 8.7vw;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 15px;
  cursor: pointer;
  margin: 26px 5.5px 0 5.5px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-top: 11.8vh;
    height: auto;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding: 2.44vh 0;
  }

  .footerBg, .leftFooter p, .rightFooter img, .whiteBtn {
    display: none;
  }

  .leftFooter {
    margin: 0;
    margin-left: 13.3vw;
    flex: none;
    padding: 0;
  }

  .leftFooter input {
    display: block;
    width: 34.9vw;
    height: 9.376vw;
    border-radius: 30px;
    font-size: 36px;
    background-color: #C03178;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.2em;
    margin-bottom: 3.9vh;
  }

  .contactIcon {
    display: flex;
    justify-content: space-around;
  }

  .leftFooter img {
    padding: 0;
    width: 8.3vw;
  }

  .rightFooter {
    flex: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 15.36vw;
  }

  .rightFooter p {
    display: block;
    color: #3E3E3E;
    font-size: calc(24px + 4 * ((100vw - 768px) / 500));
    margin: 0;
  }

  .rightFooter p:not(:first-child) {
    margin-top: 2.3vh;
  }
}

/* font-size */

@media screen and (min-width: 2000px) {
  .adoptInfo h2 {
     font-size: 40px;
  }

  .infoUl ul li {
    font-size: 28px;
  }

  .section2 ul li {
    font-size: 22px;
  }

  .section p {
    font-size: 28px;
  }

  .purpleInput {
    font-size: 40px;
  }

  .footer p {
    font-size: 20px;
  }

  .footer button, .footer input {
    font-size: 18px;
  }
}
