/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap'); */

/* * {
  border: solid 2px black;
} */

* {
  font-family:'Noto Sans TC', sans-serif !important;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.pink {
  width: 100vw;
  height: 100vh;
  background-color: #F2D1DA;
  position: absolute;
}

.header {
  background-color: #F2D1DA;
}

.container {
  width: 1600px;
  position: relative;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  z-index: 3;
  background-color: #F2D1DA;
  width: 100%;
  max-width: 1600px;
}

.logo {
  padding-left: 2.77%;
  padding-top: 15px;
}

.logo img {
  width: 111px;
  height: 65px;
}

nav {
  white-space: nowrap;
  padding-right: 4.24%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 45px;
}

nav ul li a {
  color: #880744;
  font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  cursor: pointer;
}

nav ul li a:hover {
  color: #fff;
}

/* hover */

nav ul ul {
  position: absolute;
  margin-top: 8px;
  left: 20px;
  padding: 8px 15px;
  background: #FFF8F8;
  border: 1px solid #939393;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.2s;
}

nav ul ul li {
  position: relative;
  margin: 0;
  padding: 5px;
  display: list-item;
}

nav ul ul li a{
  color: #3e3e3e;
}

.navbar ul li:hover > ul {
  visibility: visible;
}

nav ul ul li a:hover {
  color: #C03178;
}

.hamburger {
  display: none;
}

.section1 {
  display: flex;
  position: relative;
  height: 100vh;
  position: relative;
}

.nose img {
  width: calc(42vw + 6 * ((100vw - 450px) / 680));
  max-width: 700px;
  bottom: 17vh;
  right: 5.6vw;
  position: absolute;
}

.title img {
  width: 42vw;
  max-width: 672px;
  position: absolute;
  left: 9.7%;
  bottom: 42vh;
}

.purpleInput {
  border: solid #C03178;
  font-size: calc(14px + 5 * ((100vw - 320px) / 680));
  width: 12.08vw;
  height: 4.72vw;
  line-height: 2.36vw;
  max-width: 193px;
  max-height: 73px;
  background-color: #C03178;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
}

.section1 .purpleInput {
  position: absolute;
  margin-left: 27%;
  bottom: 29vh;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .menu {
    display: block;
    height: 118px;
  }

  .logo {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 62px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    z-index: 3;
    margin-top: -4px;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    overflow: auto;
  }

  .navbar.open {
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .navbar li:nth-child(1) {
    transition: all 0.5s ease 0.05s;
  }

  .navbar li:nth-child(2) {
    transition: all 0.5s ease 0.1s;
  }

  .navbar li:nth-child(3) {
    transition: all 0.5s ease 0.15s;
  }

  .navbar li:nth-child(4) {
    transition: all 0.5s ease 0.2s;
  }

  .navbar li:nth-child(5) {
    transition: all 0.5s ease 0.25s;
  }

  .navbar li:nth-child(6) {
    transition: all 0.5s ease 0.3s;
  }

  .navbar li:nth-child(7) {
    transition: all 0.5s ease 0.35s;
  }

  .navbar li:nth-child(8) {
    transition: all 0.5s ease 0.4s;
  }

  .navbar li {
    opacity: 0;
  }

  .navbar li.fade {
    opacity: 1;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nav > ul > li:not(:first-child) {
    margin-top: 2.34vh;
  }

  nav > ul > li:first-child {
    margin-top: 5.8vh;
  }

  nav > ul > li:last-child {
    margin-bottom: 50px;
  }

  nav ul ul li {
    padding: 0;
  }

  nav ul li a {
    color: #3E3E3E;
    font-size: calc(32px + 4 * ((100vh - 800px) / 500));
  }

  nav ul li a:hover {
    color: #3E3E3E;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 12px 0px 12px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .blackTri.rotate {
    transform: rotate(-180deg);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 45px;
  }

  /* .hamburger div:nth-child(1) {
    transition: all 1s ease 0.05s;
  }

  .hamburger div:nth-child(2) {
    transition: all 1s ease 0.1s;
  }

  .hamburger div:nth-child(3) {
    transition: all 1s ease 0.15s;
  } */

  .line.purpleToggle {
    background-color: #C03178;
  }

  .line {
    width: 8.2vw;
    height: 1.2vw;
    background-color: #fff;
    border-radius: 50px;
  }

  .line:not(:first-child) {
    margin-top: 0.8vh;
  }

  /* toggle */
  nav ul ul {
    position: static;
    margin: 0;
    padding: 22px 0;
    width: 227px;
    background: #F2D1DA;
    border: none;
    border-radius: 30px;
    visibility: visible;
    display: none;
    transition: all 0.2s ease-out;
    letter-spacing: 0.08em;
  }

  /* .navToggle.toggle {
    display: block;
  } */

  nav ul ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: list-item;
  }

  nav ul ul li:not(:first-child) {
    padding-top: 5px;
  }

  nav ul ul li a{
    color: #3E3E3E;
    font-size: 24px;
    border-bottom: 2px solid;
  }

  /* nav ul ul li{
    margin-top: 2vh;
  } */

  .purpleInput {
    font-size: 24px;
    width: 174px;
    height: 65px;
  }

  .nose img {
    bottom: 36%;
    right: 3.2%;
    width: calc(420px + 60 * ((100vw - 768px) / 300));
    max-width: 654px;
    z-index: 1;
  }

  .title img{
    bottom: 49%;
    left: 6.25%;
    width: 454px;
    z-index: 2;
  }

  .section1 .purpleInput {
    position: absolute;
    margin: 0;
    left: 50vw;
    bottom: 23.7%;
    transform: translateX(-50%);
  }

}


/* section2 */

.section2 {
  background-color: #fff;
  padding-top: 5%;
  width: 100%;
  position: relative;
}

.uppersection2 {
  overflow: hidden;
  width: 82vw;
  max-width: 1313.3px;
  height: 50%;
  margin-left: 8.9%;
  border-radius: 30px;
}

.bulletinBlock {
  width: 400%;
  display: flex;
  position: relative;
}

.slider {
  transition: 0.5s;
}

/* .bulletinBlock input {
  display: none;
} */

.bulletin {
  width: 25%;
  color: #3e3e3e;
  background-color: #F2D1DA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  letter-spacing: 3px;
  transition: .5s;
}

.bulletin p {
  margin: 0;
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
}

.bulletin span {
  margin: 0;
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
}

.location {
  margin-top: 15%;
}

.bulletin img {
  width: 46vw;
  max-width: 758px;
  border-radius: 30px;
}

.buInfo {
  padding: 5% 0 5% 4.4%;
  flex: 42.3;
}

.buImg {
  flex: 57.7;
  text-align: right;
}

.arrowL, .arrowR {
  position: absolute;
  top: 22%;
  cursor: pointer;
}

.arrowL {
  left: 2%;
}

.arrowR {
  right: 2%;
}

.infoCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
}

.infoCircle ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.infoCircle ul li {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #939393;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 14px;
}

.infoCircle span {
  padding: 0;
  margin: 0;
  margin-left: 7px;
  font-size: 18px;
}

.infoCircle a {
  color: #3E3E3E;
  text-decoration: underline;
}

.infoCircle ul li.selected{
  background-color: #C03178;
  border: 1px solid #C03178;
}

/* .navigation-manual {
  width: 100%;
  margin-top: 21px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45%;
}

.manual-btn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #939393;
  cursor: pointer;
  transition: 1s;
  margin-right: 10px;
  z-index: 999;
}

.navigation-manual p {
  padding: 0;
  margin: 0;
  margin-left: 9px;
  font-size: 18px;
}

.navigation-manual a {
  color: #3E3E3E;
  text-decoration: underline;
}

.manual-btn:hover{
  background-color: #C03178;
  border: 1px solid #C03178;
}

#radio1:checked ~ .uppersection2 .bulletinBlock .first {
  margin-left: 0;
}

#radio2:checked ~ .uppersection2 .bulletinBlock .first {
  margin-left: -25%;
}

#radio3:checked ~ .uppersection2 .bulletinBlock .first {
  margin-left: -50%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
}

.navigation-auto div {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #939393;
  cursor: pointer;
  transition: 1s;
  margin-right: 10px;
}

#radio1:checked ~ .navigation-manual .navigation-auto .auto-btn1 {
  background-color: #C03178;
}

#radio2:checked ~ .navigation-manual .navigation-auto .auto-btn2 {
  background-color: #C03178;
}

#radio3:checked ~ .navigation-manual .navigation-auto .auto-btn3 {
  background-color: #C03178;
} */

/* rabIntro */

.rabIntro {
  display: flex;
  margin-top: 13.38vh;
  justify-content: center;
}

.circleBlock {
  display: flex;
  flex: 17.08;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
  margin-left: 7.2%;
}

.circle, .circle input {
  width: 103px;
  height: 103px;
  border-radius: 50%;
  text-align:center;
  background-color: #C03178;
  color: #fff;
  border: none;
  font-size: 14px;
  margin-bottom: 33px;
  cursor: pointer;
  transition: 0.3s;
}

.circleBlock .circleSelected{
  transform:scale(1.38);
  font-size: 17.39px;
  letter-spacing: 0.14em;
}

.rabSlider {
  display: flex;
  flex:82.92;
}

.notActive {
  display: none;
}

.rabImgs {
  text-align: center;
  flex: 62.31;
}

.rabImgs img {
  width: 95%;
  border-radius: 20px;
}

.rabInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 37.69;
}

.adoptInput {
  margin-top: 3.6vh;
  padding-top: 2.3%;
  padding-bottom: 2.3%;
}

.rabInfo p {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  color: #3E3E3E;
  font-size: 36px;
}

.recBtn, .recBlock input {
  border: none;
  background-color: #C03178;
  color: #fff;
  width: 148px;
  height: 38px;
  margin: 12px 6px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.14em;
}

.recBlock input {
  width: 308px;
  background-color: #fff;
  color: #3e3e3e;
  border: solid 2px #C03178;
  margin: 0;
  margin-top: 13px;
  text-align: center;
}

.recBlock {
  width: 359px;
  text-align: center;
}

.talkBlock {
  display: flex;
  justify-content: center;
  position: relative;
}

.talk {
  width: 278px;
  height: 174px;
  background-color: #F2D1DA;
  border-radius: 20px;
  color: #3E3E3E;
  padding: 18px;
  font-size: 18px;
  margin-top: 25px;
}

.talk p {
  margin: 12px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.18em;
}

.tri {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 30px 15px 0px;
  border-color: transparent #F2D1DA transparent transparent;
  position: absolute;
  top: 5vw;
  left: -30px;
}

/* footer */

.footer {
  display: flex;
  background-color: #F2D1DA;
  margin-top: 4.57vh;
  position: relative;
  height: 289px;
}

@media screen and (min-width: 1600px) {
  .footerBg {
    margin-left: calc(1600px - 100vw);
    width: calc(100vw + (100vw - 1600px));
    height: 289px;
    background-color: #F2D1DA;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}

.leftFooter {
  padding-left: 3.8%;
  padding-top: 41px;
  height: 210px;
  flex: 5.5;
  margin-bottom: 20px;
}

.leftFooter p {
  margin: 0;
  color: #3E3E3E;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-size: calc(15px + 3 * ((100vw - 1200px) / 500));
}

.leftFooter img {
  padding-top: 20px;
  padding-right: 15px;
}

.rightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 4.5;
  padding-right: 4.6%;
}

.rightFooter img{
  max-width: 152px;
}

.rightFooter button, .rightFooter input {
  border: solid #fff;
  font-size: calc(12px + 4 * ((100vw - 1200px) / 500));
  max-width: 126px;
  max-height: 48px;
  width: 8.7vw;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 15px;
  cursor: pointer;
  margin: 26px 5.5px 0 5.5px;
}

/* font-size */

@media screen and (min-width: 2000px) {
  .bulletin p {
    font-size: 40px;
  }

  .bulletin span {
    font-size: 28px;
  }

  .footer p {
    font-size: 20px;
  }

  .footer button, .rightFooter input {
    font-size: 18px;
  }
}
