@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400&display=swap');

/* * {
  border: solid 2px black;
} */

* {
  font-family:'Noto Sans TC', sans-serif !important;
  font-weight: normal;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  color: #3E3E3E;
}

nav li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

.header {
  background-color: #F2D1DA;
}

.container {
  width: 1600px;
  position: relative;
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  z-index: 3;
  background-color: #F2D1DA;
  width: 100%;
  max-width: 1600px;
}

.logo {
  padding-left: 2.77%;
  padding-top: 15px;
}

.logo img {
  width: 111px;
  height: 65px;
}

nav {
  white-space: nowrap;
  padding-right: 4.24%;
  z-index: 999;
}

nav ul li {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-left: 45px;
}

nav ul li a {
  color: #880744;
  font-size: calc(10px + 4 * ((100vw - 320px) / 680));
  cursor: pointer;
}

nav ul li a:hover {
  color: #fff;
}

/* hover */

nav ul ul {
  position: absolute;
  margin-top: 8px;
  left: 20px;
  padding: 8px 15px;
  background: #FFF8F8;
  border: 1px solid #939393;
  border-radius: 10px;
  visibility: hidden;
  transition: 0.2s;
}

nav ul ul li {
  position: relative;
  margin: 0;
  padding: 5px;
  display: list-item;
}

nav ul ul li a{
  color: #3e3e3e;
}

.navbar ul li:hover > ul {
  visibility: visible;
}

nav ul ul li a:hover {
  color: #C03178;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .menu {
    display: block;
    height: 118px;
  }

  .logo {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    height: 62px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 118px);
    background: rgba(255, 255, 255, 0.85);
    padding: 0;
    z-index: 3;
    margin-top: -5px;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
    overflow: auto;
  }

  .navbar.open {
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(2000px at 90% -10%);
    pointer-events: all;
  }

  .navbar li:nth-child(1) {
    transition: all 0.5s ease 0.05s;
  }

  .navbar li:nth-child(2) {
    transition: all 0.5s ease 0.1s;
  }

  .navbar li:nth-child(3) {
    transition: all 0.5s ease 0.15s;
  }

  .navbar li:nth-child(4) {
    transition: all 0.5s ease 0.2s;
  }

  .navbar li:nth-child(5) {
    transition: all 0.5s ease 0.25s;
  }

  .navbar li:nth-child(6) {
    transition: all 0.5s ease 0.3s;
  }

  .navbar li:nth-child(7) {
    transition: all 0.5s ease 0.35s;
  }

  .navbar li:nth-child(8) {
    transition: all 0.5s ease 0.4s;
  }

  .navbar li {
    opacity: 0;
  }

  .navbar li.fade {
    opacity: 1;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nav > ul > li:not(:first-child) {
    margin-top: 2.34vh;
  }

  nav > ul > li:first-child {
    margin-top: 5.8vh;
  }

  nav > ul > li:last-child {
    margin-bottom: 50px;
  }

  nav ul ul li {
    padding: 0;
  }

  nav ul li a {
    color: #3E3E3E;
    font-size: calc(32px + 4 * ((100vh - 800px) / 500));
  }

  nav ul li a:hover {
    color: #3E3E3E;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 12px 0px 12px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .blackTri.rotate {
    transform: rotate(-180deg);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 45px;
  }

  .hamburger div:nth-child(1) {
    transition: all 1s ease 0.05s;
  }

  .hamburger div:nth-child(2) {
    transition: all 1s ease 0.1s;
  }

  .hamburger div:nth-child(3) {
    transition: all 1s ease 0.15s;
  }

  .line.purpleToggle {
    background-color: #C03178;
  }

  .line {
    width: 8.2vw;
    height: 1.2vw;
    background-color: #fff;
    border-radius: 50px;
  }

  .line:not(:first-child) {
    margin-top: 0.8vh;
  }

  /* toggle */
  nav ul ul {
    position: static;
    margin: 0;
    padding: 22px 0;
    width: 227px;
    background: #F2D1DA;
    border: none;
    border-radius: 30px;
    visibility: visible;
    display: none;
    letter-spacing: 0.08em;
  }

  nav ul ul li {
    position: relative;
    margin: 0;
    padding: 0;
    display: list-item;
  }

  nav ul ul li:not(:first-child) {
    padding-top: 5px;
  }

  nav ul ul li a{
    color: #3E3E3E;
    font-size: 24px;
    border-bottom: 2px solid;
  }
}

@media screen and (max-width: 768px) {
  nav > ul > li:not(:first-child) {
    margin-top: 2.69vh;
  }

  nav > ul > li:first-child {
    margin-top: 8.53vh;
  }

  nav ul li a {
    font-size: 24px;
  }

  .blackTri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 17px 10px 0px 10px;
    border-color: #3E3E3E transparent transparent transparent;
    position: absolute;
    top: 12px;
    margin-left: 10px;
    transition: 0.5s;
  }

  .hamburger {
    padding-right: 12vw;
  }

  .line:not(:first-child) {
    margin-top: 1vh;
  }

  nav ul ul {
    padding: 20px 0;
    width: 168px;
    border-radius: 30px;
  }

  nav ul ul li a{
    font-size: 18px;
  }
}


/* mustKnow */

.category {
  font-size: 14px;
  margin: 2.9vh 0 2.3vh 3.1%;
  letter-spacing: 0.08em;
  padding-top: 106px;
}

.category a {
  color: #3E3E3E;
}

.titleBar {
  background-color: #F2D1DA;
  text-align: center;
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
  padding: 8px 0;
  letter-spacing: 0.08em;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
}

.leftInfo {
  width: 500px;
  margin-left: 7.6%;
}

.rightInfo {
  margin-right: 7.6%;
}

.infoBlock p {
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  padding-left: 22px;
}

.infoBlock li {
  font-size: 14px;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.infoBlock ol li {
  margin-top: 18px;
}

@media screen and (max-width :1200px) {
  .category {
    padding-top: 118px;
    margin: 2.4vh 0 2.83vh 5.2%;
  }

  .titleBar {
    font-size: calc(24px + 4 * ((100vw - 768px) / 500));
  }

  .infoBlock {
    display: block;
    margin-left: 6.5%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .infoBlock::-webkit-scrollbar {
    width: 22px;
  }

  .infoBlock::-webkit-scrollbar-thumb {
    background-color: #C03178;
    border-radius: 20px;
  }

  .leftInfo {
    width: 100%;
    margin-left: 0;
    white-space: nowrap;
  }

  .rightInfo {
    margin-left: 0;
    margin-top: 50px;
  }

  .infoBlock p {
    font-size: 24px;
    padding-left: 0;
    font-weight: bold;
  }

  .infoBlock li {
    font-size: 24px;
    letter-spacing: 0.08em;
    width: 95%;
    white-space: pre-wrap;
  }

  .infoBlock ol li {
    margin-top: 21px;
  }
}

@media screen and (max-width: 768px) {
  .category {
    margin: 3.14vh 0 4.19vh 0;
    text-align: center;
    font-size: calc(14px + 3 * ((100vw - 375px) / 300));
  }

  .titleBar {
    font-size: calc(24px + 4 * ((100vw - 375px) / 500));
  }

  .infoBlock p {
    font-size: 18px;
  }

  .infoBlock li {
    font-size: 18px;
  }
}

/* freQues */

.secondBar {
  margin-top: 2.9vh;
}

.question {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  cursor: pointer;
  margin: 0 3.47%;
}

.question p {
  margin: 2.4vh 0 3px 3%;
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  letter-spacing: 0.08em;
}

.question:nth-child(1) {
  margin-top: 1.66vh;
}

.answer p {
  font-size: calc(22px + 4 * ((100vw - 1200px) / 500));
  margin: 0;
  padding: 0;
  margin: 0 6.4%;
  letter-spacing: 0.08em;
}

.hiddenList {
  display: none;
}

.hiddenQuestion {
  display: none;
  transition: 1s;
}

.hiddenQuestion.flex {
  display: flex;
}

.purpleInput {
  border: solid #C03178;
  width: 16.45vw;
  height: 6.2vw;
  max-width: 263px;
  max-height: 100px;
  background-color: #C03178;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 1.5vw;
  cursor: pointer;
  font-size: calc(34px + 4 * ((100vw - 1200px) / 500));
  letter-spacing: 0.08em;
  margin: 0;
  color: #fff;
}

.InfoInput {
  display: flex;
  justify-content: center;
  margin-top: 5.66vh;
  margin-bottom: 3.6vh;
}

.drop {
  transition: 0.5s;
}

.rotate {
  transform: rotate(-180deg);
}

@media screen and (max-width: 1200px) {
  .secondBar {
    margin-top: 5.86vh;
  }

  .question p {
    margin: 3vh 0 3px 3%;
    font-size: 18px
  }

  .question:nth-child(1) {
    margin-top: 5vh;
  }

  .answer p {
    font-size: 18px;
  }

  .questionLineIpad {
    border-top: 1px solid #000;
    margin: 3.8vh 3.47% 0 3.47%;
    height: 3.3vh;
  }

  .tri {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 12px 0px 12px;
    border-color: #3E3E3E transparent transparent transparent;
    margin-top: 0.8vh;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }

  .tri.rotate {
    transform: rotate(-180deg);
  }

  .purpleInput {
    width: 22.65vw;
    height: 8.6vw;
    max-width: 272px;
    max-height: 103px;
    border-radius: 2.6vw;
    font-size: calc(24px + 5 * ((100vw - 768px) / 300));
    box-shadow: none;
  }

  .InfoInput {
    display: flex;
    justify-content: center;
    margin-top: 5.96vh;
    margin-bottom: 7.23vh;
  }
}

@media screen and (max-width: 768px) {
  .question p {
    margin: 3vh 0 3px 3%;
    font-size: 18px
  }

  .question:nth-child(1) {
    margin-top: 3.74vh;
  }

  .purpleInput {
    width: 41.3vw;
    height: 15.73vw;
    max-width: 317px;
    max-height: 120px;
    border-radius: 5.3vw;
    font-size: calc(24px + 6 * ((100vw - 375px) / 200));
  }

  .InfoInput {
    margin-top: 7.6vh;
    margin-bottom: 10.48vh;
  }
}


/* footer */

.footer {
  display: flex;
  background-color: #F2D1DA;
  margin-top: 4.57vh;
  position: relative;
  height: 289px;
}

.leftFooter {
  padding-left: 3.8%;
  padding-top: 41px;
  flex: 5.5;
  margin-bottom: 20px;
}

.leftFooter input {
  display: none;
}

.leftFooter p {
  margin: 0;
  color: #3E3E3E;
  line-height: 30px;
  letter-spacing: 0.2em;
  font-size: calc(15px + 3 * ((100vw - 1200px) / 500));
}

.leftFooter img {
  padding-top: 20px;
  padding-right: 15px;
}

.rightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 4.5;
  padding-right: 4.6%;
}

.rightFooter p {
  display: none;
}

.rightFooter img{
  max-width: 152px;
}

.rightFooter button, .rightFooter input {
  border: solid #fff;
  font-size: calc(12px + 4 * ((100vw - 1200px) / 500));
  max-width: 126px;
  max-height: 48px;
  width: 8.7vw;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 4px 3px rgba(162, 91, 119, 0.5);
  border-radius: 15px;
  cursor: pointer;
  margin: 26px 5.5px 0 5.5px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-top: 0;
    height: auto;
    position: static;
    justify-content: space-between;
    align-items: center;
    padding: 2.44vh 0;
  }

  .footerBg, .leftFooter p, .rightFooter img, .whiteBtn {
    display: none;
  }

  .leftFooter {
    margin: 0;
    margin-left: 13.3vw;
    flex: none;
    padding: 0;
  }

  .leftFooter input {
    display: block;
    width: 22.65vw;
    height: 8.6vw;
    max-width: 272px;
    max-height: 103px;
    border-radius: 2.6vw;
    font-size: calc(24px + 5 * ((100vw - 768px) / 300));
    box-shadow: none;
    background-color: #C03178;
    cursor: pointer;
    color: #fff;
    letter-spacing: 0.2em;
    margin-bottom: 3.9vh;
    border: none;
  }

  .contactIcon {
    display: flex;
    justify-content: space-around;
  }

  .leftFooter img {
    padding: 0;
    width: 8.3vw;
  }

  .rightFooter {
    flex: none;
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 15.36vw;
  }

  .rightFooter p {
    display: block;
    color: #3E3E3E;
    font-size: calc(24px + 4 * ((100vw - 768px) / 500));
    margin: 0;
  }

  .rightFooter p:not(:first-child) {
    margin-top: 2.3vh;
  }

  .rightFooter a {
    color: #3E3E3E;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 7.48vh;
    padding: 3vh 0;
  }

  .leftFooter {
    align-items: center;
    margin-top: 2vh;
  }

  .leftFooter input {
    width: 34.9vw;
    height: 10.93vw;
    max-width: 288.7px;
    max-height: 84px;
    border-radius: 8vw;
    font-size: calc( 20px + 5 * ((100vw - 375px) / 200));
    margin-bottom: 3.5vh;
  }

  .rightFooter p {
    font-size: calc( 14px + 5 * ((100vw - 375px) / 200));
  }

  .rightFooter p:not(:first-child) {
    margin-top: 2vh;
  }
}

/* font-size */

@media screen and (min-width: 2000px) {
  .titleBar p {
    font-size: 40px;
  }

  .infoBlock li {
    font-size: 17px;
  }

  .mustKnow, .freQues p {
    font-size: 28px;
  }

  .answer p {
    font-size: 28px;
  }

  .purpleBtn {
    font-size: 40px;
  }

  .footer p {
    font-size: 20px;
  }

  .footer button, .footer input {
    font-size: 18px;
  }
}
